{% extends 'main_project/base.html'%}
{% load static %}
{% block content %}

<div class="container">
  <!-- about -->
  <section id="about" class="m1">
    <div class="container-lg">
      <div class="row justify-content-center  align-items-center">
        <!-- photo -->
        <div class="col-md-5 text-center  d-none d-md-block">
          <span class="tt" data-bs-placement="bottom" title="hovering on this">
            <img class="img-fluid" src="{% static 'images/math01.jpg' %}" alt="book">
          </span>
        </div>
        <!-- about company -->
        <div class="col-md-5 text-center text-md-start  mt-5 m-start-2 p-2">
          <h5>
            <div class="display-2">Black-Belt</div>
            <div class="display-6 text-muted">Display your coding skills</div>
    
          </h5>
          <p class="lead my-4 text-muted">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita aperiam illo nihil. Dolorum amet!
          </p>
            <a href="#pricing" class="btn btn-secondary btn-lg">Buy Now</a>
            <!-- -- open sidebar -- -->
            <a href="#sidebar" class="d-block mt-3" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">Explore my other books</a>
        </div>
        <!-- end about -->



      </div>
    </div>
  </section>
  <hr>
  <!-- pricing / cards -->
  <section id="pricing" class="bg-light" >
    <div class="container-lg">
      <div class="text-center">
        <h3>cards</h3>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="row my-5 align-items-center justify-content-center g-5">
        <div class="col-8 col-lg-4 col-xl-3">
          <div class="card border-0 " >
            <div class="card-body text-center py-4">
              <h4 class="card-title">card title</h4>
              <p class="lead card-subtitle">subtitle</p>
              <p class="display-5 my-4 text-primary fw-bold">$4.99 </p>
              <p class="card-text px-5 d-none d-lg-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dignissimos.</p>
              <a href="" class="btn btn-outline-primary btn-lg mt-3">Go back</a>
            </div>
          </div>
        </div>
        <div class="col-9 col-lg-4 ">
          <div class="card border-primary border-2" >
            <div class="card-header text-center text-primary">this is header
            </div>
            <div class="card-body text-center py-4">
              <h4 class="card-title">card title</h4>
              <p class="lead card-subtitle">subtitle</p>
              <p class="display-4 my-4 text-primary fw-bold">$4.99 </p>
              <p class="card-text px-5 d-none d-lg-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dignissimos.</p>
              <a href="" class="btn btn-outline-primary btn-lg mt-3">Go back</a>
            </div>
          </div>
        </div>        
        <div class="col-8 col-lg-4 col-xl-3">
          <div class="card border-0 " >
            <div class="card-body text-center py-4">
              <h4 class="card-title">card title</h4>
              <p class="lead card-subtitle">subtitle</p>
              <p class="display-5 my-4 text-primary fw-bold">$4.99 </p>
              <p class="card-text px-5 d-none d-lg-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dignissimos.</p>
              <a href="" class="btn btn-outline-primary btn-lg mt-3">Go back</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <hr>
  <!-- accordion / topics at a glance-->

  <section id="topics" class=" border-primary">
    <div class="container-md">
      <div class="text-center">
        <h2>Inside the book</h2>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="row my-5 g-2 justify-content-around align-items-center ">
        <div class="col-6 col-lg-4 ">
          <img src="{% static 'images/neuro.jpg' %}" alt="paid" style="width:200px">
        </div>
        <div class="col-6 col-lg-8">
          <div id="chapters" class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter1">chapter1-  topics in zambales </button>
              </h2>
              <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
                <div class="accordion-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, quis porro. Repudiandae, accusantium vitae accusamus laborum recusandae sunt a voluptate dicta natus unde corrupti similique laboriosam placeat, numquam non cum.
              </div>
            </div>    
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="False" aria-controls="chapter2">Mining </button>
              </h2>
              <div id="chapter-2" class="accordion-collapse collapse " aria-labelledby="heading-2" data-bs-parent="#chapters">
                <div class="accordion-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, quis porro. Repudiandae, accusantium vitae accusamus laborum recusandae sunt a voluptate dicta natus unde corrupti similique laboriosam placeat, numquam non cum.
                </div>
              </div>                
  
            </div>
          </div>
  
  
        </div>
        <!-- accordion -->
      </div>
    </div>
  </section>
  <hr>
  <!-- reviews -->
  <section id="reviews" class="bg-light">
    <div class="container-lg">
      <!-- review tittle -->
      <div class="review-title text-center">
        <h3><i class="bi bi-card-checklist"></i>Book Review</h3>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="list-group">
            <div class="list-group-items py-3 align-items-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
              <h3 class="mb-1">item 1</h3>
              <p class="mb-1">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ipsum dolor facere quasi. Sequi soluta iure hic vitae!
              </p> <i class="bi bi-plus-circle">bootstrap icon</i>
              <small class="bg-success ">Review by xx1</small> 
              <hr>
            </div>
            <div class="list-group-items py-3 ">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
              <h3 class="mb-1">
                
                item 1</h3>
              <p class="mb-1">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ipsum dolor facere quasi. Sequi soluta iure hic vitae!
              </p> 
              <small>Review by xx1</small> 
            </div>
            <div class="list-group-items py-3 ">
              <h3 class="mb-1">item 1</h3>
              <p class="mb-1">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ipsum dolor facere quasi. Sequi soluta iure hic vitae!
              </p> 
              <small>Review by xx1</small> 
            </div>
           

          </div>

        </div>

      </div>

    </div>
  </section>
  <hr>
  <!-- contact forms -->
  <!-- form-contol, form-label , form-select, input-group, input-group-text  -->
  <section id="contact">
    <div class="container-lg">
      <div class="text-center ">
        <h3 class ="xx-text1">Get in touch</h3>
        <p class="lead">Questions to ask? Fill out the form to contact me directly. </p>
      </div>
      <div class="row justify-content-center my-5">
        <div class="xx-form col-lg-6 py-3">
          <form action="" >
            <label for="email" class="form-label">Email Address</label>
            <div class="mb-4 input-group">
              <span class="input-group-text"> 
                <i class="bi bi-envelope-at"></i>
              </span>
          
              <input type="email" id="email" class="form-control" placeholder="ie. xx@y.com">
              <span class="input-group-text">
                <span class="tt" data-bs-placement="bottom" title="tooltip email">

                <i class="bi bi-envelope-at"></i>
              </span>
              </span>
            </div>


            <label for="name" class="form-label">Name:</label>
            <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-file-earmark-person"></i>
              </span>
              <input type="text" class="form-control" id="name" placeholder="ie. John">
            </div>


            <label for="subject" class="form-label">What is your question:</label>
            <div class="mb-4 input-group">
              <span class="input-group-text">
                <!-- <i class="bi bi-chat-left-dots-fill"></i> -->
                <i class="bi bi-chat-heart-fill"></i>
              </span>
              <select class="form-select" id="subject">
                <option value="pricing" selected> Pricing query</option>
                <option value="content">Content Query</option>
                <option value="other-query">Other Query</option>
  
              </select>
            </div>  

            <div class="form-floating mb-4 mt-5">
              <textarea class="form-control" name="query" id="query" style="height:100px; "
              ></textarea>
              <label for="query" >Query</label>
            </div>
            <div class="mb-4 text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            


          </form>
        </div>

      </div>

    </div>
  </section>
  <hr>


  <section class="bg-altlight">
    <div class="container-lg">
      <div class="bg-altdark text-center">
        <h2>Stay in the loop</h2>
        <p class="lead">Get the latest updates</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <p class="text-muted my-4">Tesing testing.
          </p>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">REgister for Updates</button>

        </div>

      </div>
    </div>  

  </section>
  <!-- get updates / modal trigger -->
  <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog" style="background-color: azure;">
      <div class="model-content">
        <div class="modal-header">
          <h5 class="modal-title" 
          id="modal-title" 
          style="color:red;">Get the latest updates</h5>
          <button type="button" class="button-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-light">
          <p>paragraph to appear.</p>
          <label for="modal-email" class="form-label">You email address :</label>
          <input type="email" class="form-control" id="modal-email" placeholder="ie. jj@email.com">
        </div>
        <div class="model-footer">
          <button class="btn btn-primary">Submit</button>
        </div>

      </div>
    </div>

  </div>



  <hr>

<!-- -- off canvas / sidebar -- -->
<div id="sidebar" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="sidebar-label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebar-label">My other books</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam nobis ea dolor ipsam a. Tenetur ullam voluptate consequatur, rem, aliquid, pariatur odit quis adipisci cum placeat suscipit ducimus iusto expedita!</p> 
  <!-- ---- dropdowns --- -->
  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="book-dropdown" data-bs-toggle="dropdown">Choose a book</button>
    <div class="dropdown-menu" aria-labelledby="book-dropdown">
      <ul class ="list-unstyled ">
        <li><a href="#" class="dropdown-item">Becom superhero</a></li>
        <li><a href="#" class="dropdown-item">now and then </a></li>
        <li><a href="#" class="dropdown-item">third option now and then </a></li>

      </ul>

    </div>
  </div>

  </div>



</div>

  <!--   end -->
  <section class="m1" id="prlinks" ></section>
  <div class="container-lg my-5">
    <div class="row  justify-content-center">
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'updateform' %}" role="button">update form </a>    
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'add_restaurant' %}" role="button">Add Restaurant</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'restaurant_list' %}" role="button">Restaurant List</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'add_rating' %}" role="button">Add Rating</a>
      </div>

      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'create_student' %}" role="button">Create Student</a>
      </div>


    </div>
  </div>  
  <hr>

  <div class="container-lg my-5">
    <h4>Bootstrap </h4>
    <div class="row">
      <div class="col-sm-4 col-lg-2">
        <a href="{% url 'bootstrap_buttons' %}">Buttons</a>      
      </div>
      <div class="col-sm-4 col-lg-2">
        <a href="{% url 'bootstrap_utility_classes' %}">Utility classes</a>
      </div>
      <div class="col-sm-4 col-lg-2">
        <a href="{% url 'containers' %}">Containers</a>
      </div>
      <div class="col-sm-4 col-lg-2">
        <a href="{% url 'grid' %}">Grid</a>
      </div>
      <div class="col-sm-4 col-lg-2">
        <a href="{% url 'grid_layout' %}">Grid layout</a>
      </div>
      
      <div class="col-sm-4 col-lg-2">
        <a href="{% url 'cards' %}">Cards</a>
      </div>
  
    </div>
  </div>
  <hr>
</div>





{% endblock %}