:root{
--color1 : #43766C;
--color2 : #F8FAE5;
--color3 : #B19470;
--color4 : #76453B;
--linked-in-blue: #0a66c2;
--button-hover:#A94438;

--color-white :#FBF9F1;
}


.head-zz{
  background-color: rgb(207, 158, 190);
  color : white;
}
.xx-text1{
  background-color: rgb(226, 209, 216);
  color : rgb(15, 37, 137);
  margin: 25px 10px;

}
.xx-form{
  background-color: rgb(204, 209, 61);
  border-radius: 15px;
}
